/* preview */
.typstmate-settings-preview {
  margin: 1em 0;
  padding: 1em;
  background: var(--background-primary);
  border: 1px solid var(--background-modifier-border);
  border-radius: 4px;
}

.typstmate-settings-preview-preview {
  width: 100%;
  min-height: 100px;
  margin: 1em 0;
  padding: 0.5em;
  background: var(--background-primary);
  border: 1px solid var(--background-modifier-border);
  border-radius: 4px;
  font-family: var(--font-monospace);
  white-space: pre-wrap;
  overflow: auto;
}

.typstmate-settings-preview-input {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
  margin: 0.5em 0;
  padding: 0.5em;
  background: var(--background-primary);
  border: 1px solid var(--background-modifier-border);
  border-radius: 4px;
}

.typstmate-settings-preview-input span {
  padding: 0 2px;
  color: var(--text-muted);
  font-family: var(--font-monospace);
  white-space: pre;
}

.typstmate-settings-preview-input input[type="text"] {
  flex: 1;
  min-width: 100px;
  padding: 4px 8px;
  border: 1px solid var(--background-modifier-border);
  border-radius: 3px;
  background: var(--background-primary);
  color: var(--text-normal);
  font-family: var(--font-monospace);
  font-size: 0.9em;
}

.typstmate-settings-preview-input textarea {
  width: 100%;
  min-height: 100px;
  display: block;
  border: 1px solid var(--background-modifier-border);
  border-radius: 3px;
  background: var(--background-primary);
  color: var(--text-normal);
  padding: 8px;
  font-family: var(--font-monospace);
  font-size: 0.9em;
  resize: vertical;
  outline: none;
  box-shadow: none;
  margin: 4px 0;
}
