.typstmate-debug-panel {
  position: absolute;
  bottom: 0;
  right: 0;

  z-index: 100;

  background: var(--background-secondary);

  border: 1px solid var(--background-modifier-border);

  display: flex;
  padding: 4px 8px;

  flex-direction: column;
  gap: 2px;

  font-size: 16px;
  font-family: monospace;
  white-space: pre;

  opacity: 0.8;

  pointer-events: none;
}
