.typstmate-list-item {
  /* border-bottom: 1px solid var(--background-modifier-border); */
  background-color: transparent;
  overflow: hidden;
  margin-bottom: var(--size-4-1);
}

.typstmate-list-item:last-child {
  /* border-bottom: none; */
}

.typstmate-list-item[open] {
  border-color: var(--interactive-accent);
}

.typstmate-list-item-summary {
  display: flex;
  padding: var(--size-4-2);
  cursor: pointer;
  user-select: none;
  background-color: var(--background-secondary);
  transition: background-color 0.15s ease;
}

.typstmate-list-item-summary:hover {
  background-color: var(--background-modifier-hover);
}

.typstmate-list-item-summary.is-vertical {
  flex-direction: column;
}

.typstmate-list-item-content {
  padding: var(--size-4-1) var(--size-4-2);
  background-color: var(--background-primary-alt);
}
