.typst-mate-jump-ripple {
  position: fixed;
  border: 4px solid var(--interactive-accent);
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  animation: typst-mate-ripple-effect 1s ease-out;
}

@keyframes typst-mate-ripple-effect {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
    border-width: 4px;
  }
  100% {
    width: calc(max(100vw, 100vh) / 3);
    height: calc(max(100vw, 100vh) / 3);
    opacity: 0;
    border-width: 0;
  }
}

g.typst-text * {
  stroke: transparent;
  stroke-width: 0.15em;
}

g.typst-text:hover * {
  fill: var(--interactive-accent) !important;
}
