/* ? $の判定により, 通常の文章にハイライトしてしまわないために `.cm-math` は必要 */
span.typstmate-bracket-paren .cm-math {
  color: rgb(200, 100, 200);
}
span.typstmate-bracket-bracket .cm-math {
  color: rgb(100, 200, 200);
}
span.typstmate-bracket-brace .cm-math {
  color: rgb(200, 200, 100);
}

span.typstmate-bracket-enclosing-paren .cm-math {
  background-color: rgba(225, 125, 225, 0.5);
}
span.typstmate-bracket-enclosing-bracket .cm-math {
  background-color: rgba(125, 225, 225, 0.5);
}
span.typstmate-bracket-enclosing-brace .cm-math {
  background-color: rgba(225, 225, 125, 0.5);
}

.typst-mate-jump-ripple {
  position: fixed;
  border: 4px solid var(--interactive-accent);
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
  animation: typst-mate-ripple-effect 1s ease-out;
}

@keyframes typst-mate-ripple-effect {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
    border-width: 4px;
  }
  100% {
    width: max(100vw, 100vh);
    height: max(100vw, 100vh);
    opacity: 0;
    border-width: 0;
  }
}
