/* 独自 */
span.typ-bracket {
  color: #c864c8;
}
span.typ-brace {
  color: #64c8c8;
}
span.typ-paren {
  color: #c8c864;
}

span.typ-enclosing.bracket {
  background-color: rgba(225, 125, 225, 0.5);
}
span.typ-enclosing.brace {
  background-color: rgba(125, 225, 225, 0.5);
}
span.typ-enclosing.paren {
  background-color: rgba(225, 225, 125, 0.5);
}

/* 規定 */
span.typ-comment {
  color: #74747c;
}
/** カッコなど
span.typ-punct {
*/
span.typ-escape {
  color: #1d6c76;
}
span.typ-strong {
  font-weight: bold;
}
span.typ-emph {
  color: #6b6b6f;
}
span.typ-link {
  text-decoration: underline;
}
span.typ-raw {
  color: #6b6b6f;
}
span.typ-label {
  color: #1d6c76;
}
span.typ-ref {
  color: #1d6c76;
}
span.typ-heading {
  text-decoration: underline;
  font-weight: bold;
}
span.typ-marker {
  color: #8b41b1;
}
/* リストなど */
span.typ-term {
  color: #8b41b1;
}
span.typ-math-delim {
  color: #198810;
}
span.typ-math-op {
  color: #1d6c76;
}
span.typ-key {
  color: #d73948;
}
span.typ-op {
  color: #8b41b1;
}
span.typ-num {
  color: #b60157;
}
span.typ-str {
  color: #198810;
}
span.typ-func {
  color: #4b69c6;
}
span.typ-pol {
  color: #8b41b1;
}
span.typ-error {
  color: #f00;
}
