.typstmate-jump-ripple {
  position: fixed;

  z-index: 1000;

  width: 0;
  height: 0;

  border: 4px solid var(--interactive-accent);
  border-radius: 50%;

  transform: translate(-50%, -50%);
  animation: typstmate-ripple-effect 1s ease-out;

  pointer-events: none;
}

@keyframes typstmate-ripple-effect {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
    border-width: 4px;
  }
  100% {
    width: 5em;
    height: 5em;
    opacity: 0;
    border-width: 0;
  }
}
