.typstmate-bracket-paren {
  color: rgb(200, 100, 200) !important;
}
.typstmate-bracket-bracket {
  color: rgb(100, 200, 200) !important;
}
.typstmate-bracket-brace {
  color: rgb(200, 200, 100) !important;
}

.typstmate-bracket-enclosing {
  font-weight: bold !important;
}

.typstmate-bracket-paren.typstmate-bracket-enclosing {
  background-color: rgba(225, 125, 225, 0.5) !important;
}
.typstmate-bracket-bracket.typstmate-bracket-enclosing {
  background-color: rgba(125, 225, 225, 0.5) !important;
}
.typstmate-bracket-brace.typstmate-bracket-enclosing {
  background-color: rgba(225, 225, 125, 0.5) !important;
}

.typstmate-highlight-null {
  color: #d73948 !important;
}
.typstmate-highlight-keyword {
  color: #4b69c6 !important;
}
.typstmate-highlight-string {
  color: #198810 !important;
}
.typstmate-highlight-comment {
  color: #74747c !important;
}
.typstmate-highlight-monospace {
  color: #74747c !important;
}
