.typstmate-bracket-enclosing {
  font-weight: bold !important;
  background-color: var(--text-highlight-bg) !important;
}

.typstmate-highlight-null {
  color: #d73948 !important;
}
.typstmate-highlight-keyword {
  color: #4b69c6 !important;
}
.typstmate-highlight-string {
  color: #198810 !important;
}
.typstmate-highlight-comment {
  color: #74747c !important;
}
.typstmate-highlight-monospace {
  color: #74747c !important;
}
