.cm-diagnostic:has(.typstmate-diag) {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.typstmate-diag {
  background-color: var(--background-secondary);
}

.typstmate-diag-hints {
  margin-top: 4px;
  color: var(--text-normal);
}
