.cm-error-lens-line {
  position: relative;
}

.cm-error-lens-line-error {
  background-color: color-mix(in srgb, var(--typstmate-critical) 20%, transparent) !important;
}

.cm-error-lens-line-warning {
  background-color: color-mix(in srgb, var(--typstmate-warning) 20%, transparent) !important;
}

.cm-error-lens-widget {
  display: inline-block;
  margin-left: 2ch;
  font-size: 1em;
  padding: 0 6px;
  border-radius: 4px;
  opacity: 0.8;
  white-space: nowrap;
  user-select: none;
  pointer-events: auto;
  cursor: help;
}

.cm-error-lens-widget-error {
  color: var(--typstmate-critical);
}

.cm-error-lens-widget-warning {
  color: var(--typstmate-warning);
}
