typstmate-svg {
  contain: content;
}

.typst-text {
  pointer-events: bounding-box;
  cursor: pointer;
}

.typst-text:hover path,
.typst-text:hover use,
.typst-text:hover rect,
.typst-text:hover polygon,
.typst-text:hover circle {
  fill: var(--interactive-accent) !important;
}
