/** @see https://code.haverbeke.berlin/codemirror/lint/src/commit/50a00ca77ca4f2608025acce9e0a004e343c0f90/src/lint.ts */
.cm-diagnostic:has(.typstmate-diag) {
  padding: 0 !important;
  margin-left: 0 !important;
}

.cm-diagnostic-error:has(.typstmate-diag) {
  border-left: none !important;
}
.cm-diagnostic-warning:has(.typstmate-diag) {
  border-left: none !important;
}
