.typstmate-inlinemathpreview {
  position: fixed;
  left: var(--preview-left, 0);
  top: var(--preview-top, 0);

  z-index: 200;

  box-shadow: 0 4px 16px rgb(0 0 0 / 0.18);

  background: var(--background-secondary);

  border: 1px solid var(--background-modifier-border);
  border-radius: 8px;

  padding: 6px 12px;

  opacity: 0.95;

  user-select: none;
  pointer-events: none;
}
