/*
 * 参照: Typst -- `rs typst_assets::fonts()`
 * 参照: MathJax -- `js MathJax.chtmlStylesheet()`
 * MathJax のフォントは, JS 側の関数による副作用で自動的に読み込まれる
 */
@font-face {
  font-family: "NewComputerModernMath";
  src: url("./NewCMMath-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.typstmate__symbol {
  font-family: "NewComputerModernMath", "MJXZERO", "MJXTEX-S1", "MJXTEX-S4", "MJXTEX", "MJXTEX-A", monospace;
}

.cm-line {
  font-family: "NewComputerModernMath", var(--font-family), monospace;
}
