.typstmate-status-bar-item-icon {
  display: flex;

  height: 100%;
  aspect-ratio: 1 / 1;

  align-items: center;
  justify-content: center;
}

.typstmate-status-bar-item-icon svg {
  width: 16px;
  height: 16px;
}

.typstmate-status-bar-item-error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-error);
  height: 100%;
  aspect-ratio: 1 / 1;
}

.typstmate-status-bar-item-error span {
  font-size: 16px;
}
